@charset "utf-8";
body {
	margin: 0;
	padding: 0;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	color: #333;
	font-size: 13px;
	line-height: 150%;
}

@media screen and (min-width: 768px){
/* -------------------- PC wrapper -------------------- */
#wrapper {
	width: 100%;
	margin: auto;
	padding: 0px;
	border: 0px;
	background-color: #FFF;	
	top: 10px;
    display: grid;
	grid-template-columns: 70vw 30vw;
}

    /* -------------------- PC header -------------------- */
    #menu {display: none;}

    header {
        width: 100%;
    }
    header h1 {
        margin: 0;
        padding: 0;
    }
    
    #corridor {
        width: 100%;
        height: auto;
    }
    
    /* -------------------- PC footer -------------------- */
    footer {
        width: 100%;
        padding: 3px 0 3px 0;
        background: #39F;
        color: #FFF;
        font-weight: bold;
        text-align: center;
    }
    
    /* -------------------- PC nav -------------------- */
    nav {
        width: 100%;
    }
    nav ul {
        display: flex;
        margin: 0;
        padding: 0;
        list-style-type: none;
    }
    nav ul li {
        width: 20%;
        text-align: center;
    }
    nav ul li a {
        display: block;
        height: 20px;
        margin: 0;
        padding: 10px;
        color: #FFF;
        font-size: 20px;
        text-decoration: none;
        background-color: green;
    }
    
    nav ul li a:hover {
        filter: drop-shadow(10px 10px 10px black);
    }
    
    /* -------------------- PC section -------------------- */
    section {
        width: 100%;
        margin: auto ;
        padding: auto;
        padding-top: 20px;
    }
    /* -------------------- PC article -------------------- */
    article .post1 p {
        margin: 0 5%;
    }
    article .post2 p {
        margin: 0 5% 0 0;
    }
    article {
        width: 95%;
        padding: 10px 30px 10px 10px;
    }
    article h2 {
        margin: 0 0 10px 0;
        padding: 3px 10px 3px 10px;
        color: #FFF;
        font-size: 16px;
        border-left: solid 10px #C00;
        background-color: #F90;
    }
    article p {
        margin: 0;
        padding: 0;
    }
    article img {
        width: 40%;
        height: auto;
    }
    article .post1 {
        margin: 0 0 30px 0;
        display: flex;
        justify-content: space-around;
    }
    article .post2 {
        margin: 0 0 30px 0;
        display: flex;
        justify-content: space-around;
        flex-direction: row-reverse;
    }
    article div{
        margin: 0 0 0 5px;
    }
    
    /* -------------------- PC side -------------------- */
    .side {
        width: 85%;
        padding: 20px;
        background-color: #F99;
    }
    .side .box {
        margin: 0 auto 30px auto;
        padding: 0 0 20px 0;
    }
    .side .box h2 {
        margin: auto;
        padding: 8px;
        text-align: center;
        color: #fff;
        font-size: 16px;
        line-height: 16px;
        font-weight: normal;
        background-color: #C36;
        width: 70%;
        border-radius: 10px 10px 0 0;
    }
    .side .box .boxBody {
        padding: 8px;
        border-right: solid 1px #C36;
        border-bottom: solid 1px #C36;
        border-left: solid 1px #C36;
        background: #fff;
    }
    .side .box .boxBody ul {
        margin: 0 0 16px 0;
        padding: 0;
    }
    .side .box .boxBody ul li {
        padding: 8px 0 8px 4px;
        list-style: none;
        border-bottom: solid 1px #C36;
    }
    
    .side .box .boxBody ul li:hover {
        padding: 8px 0 8px 4px;
        list-style: none;
        border-bottom: solid 1px #C36;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    }
    .side .box .square{
        margin: auto;
        width: 70%;
        height: 30px;
        background: #C36;
        border-radius: 0 0 10px 10px;
    }
}
@media screen and (max-width: 767px) {
/* -------------------- SP wrapper -------------------- */
#wrapper {
	width: 100%;
	margin: auto;
	padding: 0px;
	border: 0px;
	background-color: #FFF;	
	top: 10px;
}

/* -------------------- SP header -------------------- */
header {
	width: 100%;
}
header h1 {
	margin: 0;
	padding: 0;
}

#corridor {
	width: 100%;    
}
#menu{display: none;
}

.menu-btn {
    position: fixed;
    top: 10px;
    right: 10px;
    display: flex;
    height: 60px;
    width: 60px;
    justify-content: center;
    align-items: center;
    z-index: 90;
    background-color: #C36;
}
.menu-btn span,
.menu-btn span:before,
.menu-btn span:after {
    content: '';
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background-color: #ffffff;
    position: absolute;
}
.menu-btn span:before {
    bottom: 8px;
}
.menu-btn span:after {
    top: 8px;
}

#menu:checked ~ .menu-btn span {
    background-color: rgba(255, 255, 255, 0);
}
#menu:checked ~ .menu-btn span::before {
    bottom: 0;
    transform: rotate(45deg);
}
#menu:checked ~ .menu-btn span::after {
    top: 0;
    transform: rotate(-45deg);
}
#menu:checked ~ .side {
    right: 0;
}
.side {
	width: 80%;
	padding: 50px 20px 20px 20px;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 80;
	background-color: #F99;
    transition: 0.3s;
}
.side .box {
	margin: 30 auto 30px auto;
	padding: 0 0 20px 0;
}
.side .box h2 {
	margin: auto;
	padding: 8px;
	text-align: center;
	color: #fff;
	font-size: 16px;
	line-height: 16px;
	font-weight: normal;
	background-color: #C36;
    width: 70%;
    border-radius: 10px 10px 0 0;
}
.side .box .boxBody {
	padding: 8px;
	border-right: solid 1px #C36;
	border-bottom: solid 1px #C36;
	border-left: solid 1px #C36;
	background: #fff;
}
.side .box .boxBody ul {
	margin: 0 0 16px 0;
	padding: 0;
}
.side .box .boxBody ul li {
	padding: 8px 0 8px 4px;
	list-style: none;
	border-bottom: solid 1px #C36;
}

.side .box .boxBody ul li:hover {
	padding: 8px 0 8px 4px;
	list-style: none;
	border-bottom: solid 1px #C36;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
}
.side .box .square{
    margin: auto;
    width: 70%;
    height: 30px;
    background: #C36;
    border-radius: 0 0 10px 10px;
}


/* -------------------- SP footer -------------------- */
footer {
	width: 100%;
	padding: 3px 0 3px 0;
	background: #39F;
	color: #FFF;
	font-weight: bold;
	text-align: center;
}

/* -------------------- SP nav -------------------- */
nav {
	width: 100%;
}
nav ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
nav ul li {
	width: 100%;
	text-align: center;
    border-bottom: solid 1px #fff;
}
nav ul li a {
	display: block;
	height: 20px;
	margin: 0;
	padding: 10px;
	color: #FFF;
	font-size: 20px;
	text-decoration: none;
	background-color: green;
}

/* -------------------- SP section -------------------- */
#content {
	width: 100%;
	margin: auto ;
	padding: auto;
	padding-top: 20px;
}
/* -------------------- SP article -------------------- */
article .post1 p {
    margin: 10px auto;
}
article .post2 p {
    margin: 10px auto;
}
article {
	width: 95%;
    margin: auto;
	padding: 10px auto;
}
article h2 {
	margin: 0 0 10px 0;
	padding: 3px 10px;
	color: #FFF;
	font-size: 16px;
	border-left: solid 10px #C00;
	background-color: #F90;
}
article p {
	margin: 20px auto;
}
article img {
    width: 100%;
}
}